name: Main

on: [push, pull_request]

jobs:
  main:
    name: Main
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: jdx/mise-action@v3
      - run: corepack enable
      - run: mise reshim
      - run: make -j
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm bench
      - run: pnpm bench:memory
      - uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            data/*.lltz
      - run: npm publish --access public --provenance
        if: startsWith(github.ref, 'refs/tags/v')
